

input {
  background: #b3b3b373;
    border: none;
  margin-top: 19px;
  padding: 10px 20px;
  border-radius: 6px;
  color: white;
  font-size: 16px;
}

#cc {
    background: #ffffffd9;
  border: none;
  
  padding: 10px 10px;
  border-radius: 25px;
  text-align: center;
}

#root {
    /*! background: black; */
    /*! height: 100%; */
  }

  .back {
  background: #fff;
  border: 1px solid white;
  font-size: 18px;
  padding: 5px 20px;
  color: black;
  margin-bottom: 7px;
  border-radius: 7px;
  cursor: pointer;
  }

  .back-btn {
    display: flex;
    padding: 5px 15px;
    background: white;
    border: none;
    font-size: 18px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  color: #242424;
  }

  .submitLogin{
    background-color: rgba(255, 255, 255, 0.341);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 17px;
    font-family: sans-serif;
    cursor: pointer;
}


.loginSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
  /* padding: 74px; */
  width: 250px;
  margin: auto;
  margin-top: 250px;
  border-radius: 25px;
  width: fit-content;
}

.loginCard{
  background: #0d49bc;
  padding: 74px;
  width: 250px;
  color: white;
  border-radius: 12px;
}

.submit{
  background: #fff;
  border: 1px solid white;
  font-size: 18px;
  padding: 5px 20px;
  color: black;
  margin-top: 20px;
  border-radius: 7px;
  cursor: pointer;
}

.backContainer{
  width: 100%;
}

.switchLoginSignup{
  border: none;
  background: none;
  color: white;
  text-decoration: underline;
  font-size: 20px;
  cursor: pointer;
}